<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <main>
        <div class="line">
            <div class="doc">
                <h1>{{title}}</h1>
                {{descriptionParagraphs}}

                <hr>

                <p><strong>Annotated source files</strong></p>
                {{sourcesList}}
            </div>
            <pre></pre>
        </div>
    </main>
</body>

</html>